body {
    background-color: aliceblue;
    padding: 0 60px;
}
header{
    background-color: aliceblue
}
header h1 {
    text-align:center;
    color: lightgray;
    font-size: 60px;
    background-color:darkgray;
}
header img {
    float: right;
    max-width: 200px;
    height:auto;
    margin-right: 30px;
}
.info {
       display:block;
       text-align:left;
}
header  h2, header  p {
    text-decoration: underline;
}
.all {
    position: relative;
}
.skills {
    position: relative;
    padding:10px;
    margin:10px 250px 10px 150px;
    float: left;
}
h3 {
    text-decoration:underline;
    font-style:oblique;
}
.education {
    position: relative;
    text-align:  left;
    float: left;
    margin: 10px 150px 150px 10px ;
}

.army {
    position:relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: -50px;
}

.army h3{
    float:left;
    margin: 0 10px;
}

.army p{    
    border-left: 1px solid black;
    float:left;
    margin: 0 10px;
    padding: 4px;
}

.army h3::after{
    content: "      -";
}

abbr {
    background-color: rgba(255, 255, 0, 0.4);
}

#information {
    border: 5px inset lightgray;
    border-radius: 25px;
    padding: 25px;
    padding-top: 0;
    text-align:justify;
}

#information > h2 {
    text-align:center;
}
#information>p{
    font-family: Arial;
}
